meta {
	-theme-interface-style: dark;
	-theme-vibrancy: none;
	-theme-accent-color: hsl(225, 12%, 13%);
}

/*
 * Window styles
 */

meta.window {
	border-color: hsla(0, 0%, 100%, 0.1);
	background-color: hsla(218, 13%, 16%, 1);
}
meta.titlebar {
	color: hsl(210, 17%, 76%);
	background-color: hsl(225, 12%, 13%);
	border-color: hsla(0, 0%, 0%, 0);
}
meta.titlebar.inactive {
}

meta.button {
	background: linear-gradient(hsl(210, 5%, 32%), hsl(210, 5%, 25%));
	border: linear-gradient(hsl(210, 5%, 17%), hsl(210, 5%, 13%));
	color: white;
}
meta.button.highlighted {
	background: linear-gradient(hsl(210, 5%, 42%), hsl(210, 5%, 34%));
	color: white;
}
meta.button.selected {
	color: white;
}
meta.button.highlighted.selected {
	color: white;
}
meta.button.disabled {
}

meta.textfield {
	background-color: hsl(210, 5%, 13%);
	border-color: hsl(210, 5%, 23%);
}
meta.textfield.highlighted {
	background-color: hsl(210, 5%, 10%);
	border-color: hsl(210, 5%, 23%);
}

/*
 * Document styles
 */

meta.document {
	background-color: hsla(223, 12%, 18%, 1);
	border-color: hsla(0, 0%, 20%, 0.4);
}

meta.document.button {
	background: linear-gradient(hsl(210, 5%, 25%), hsl(210, 5%, 21%));
	border: linear-gradient(hsl(210, 5%, 11%), hsl(210, 5%, 8%));
}
meta.document.button.disabled {
	background: linear-gradient(
		hsla(220, 5%, 25%, 0.3),
		hsla(220, 5%, 21%, 0.3)
	);
}
meta.document.button.highlighted {
	background: linear-gradient(hsl(210, 5%, 34%), hsl(210, 5%, 30%));
}

meta.document.textfield {
	background-color: hsl(210, 5%, 10%);
	border-color: hsl(210, 5%, 19%);
}
meta.document.textfield.highlighted {
	background-color: hsl(210, 5%, 10%);
	border-color: hsl(210, 5%, 19%);
}

/* Text */
meta.text {
	color: #d4d4d4;
}
meta.text.invisible {
	color: hsla(210, 100%, 90%, 0.15);
}
meta.text.selected {
	color: hsla(210, 100%, 90%, 0.15);
}

/* Cursor */
meta.cursor {
	background-color: hsla(0, 0%, 0%, 0);
}

/* Indentation Guides */
meta.indentguide {
	border-color: hsla(220, 5%, 48%, 0.2);
}

/* Gutter */
meta.gutter {
	color: hsl(210, 5%, 38%);
}
meta.gutter.selected {
	background-color: hsl(210, 5%, 10%);
	color: hsl(210, 17%, 76%);
}

/*
 * Syntax styles
 */

comment {
	color: #525252;
}
processing {
	color: hsl(240, 0%, 45%);
}
declaration {
	color: hsl(240, 0%, 45%);
}
bracket {
	color: #d4d4d4;
}
operator {
	color: hsl(172, 29%, 64%);
}
invalid {
	background-color: #c16766;
	color: #d4d4d4;
}
link {
	color: #a9c59e;
}

/* Keywords */
keyword {
	color: #7f7f7f;
}
keyword.modifier {
	color: #7f7f7f;
}
keyword.condition {
	color: #82afb1;
}
keyword.construct {
	color: #82afb1;
}
keyword.statement {
	color: #82afb1;
}
keyword.self {
	color: #82afb1;
}
keyword.self.prefix {
	color: #82afb1;
}

/* Values */
value.boolean {
	color: #82afb1;
}
value.null {
	color: #82afb1;
}
value.number {
	color: #82afb1;
}
value.entity {
	color: #82afb1;
}
value.symbol {
	color: #82afb1;
}

/* Identifiers */

identifier.type {
	color: #d4d4d4;
}
identifier.constant,
identifier.global,
identifier.variable {
	color: #b798bf;
}

identifier.constant {
	color: #c16766;
}

identifier.constant.prefix,
identifier.global.prefix {
	color: #b798bf;
}

identifier.variable {
	color: #d4d4d4;
}

identifier.property {
	color: #f0a5ab;
}
identifier.property.prefix {
	color: #b798bf;
}
identifier.decorator,
identifier.function {
	color: #fee3a9;
}

identifier.method {
	color: #7896c3;
}

identifier.key {
	color: #b798bf;
}
identifier.argument {
	color: #d4d4d4;
}
identifier.argument.prefix {
	color: #b798bf;
}

/* Strings */

string {
	color: #a9cfa4;
}
string.delimiter {
	color: #a9cfa4;
}
string.escape {
	color: #a9cfa4;
}
string.key {
	color: #b798bf;
}
string-keyword {
	color: #f6e4b8;
}
string-template {
	color: #f6e4b8;
}
regex {
	color: #f6e4b8;
}
regex.escape {
	color: #f6e4b8;
}
cdata {
	color: #82afb1;
}

/* Markup */

markup.heading {
	color: #a9c59e;
}
markup.line {
	color: #f6e4b8;
}
markup.bold {
	color: #f6e4b8;
	font-weight: bold;
}
markup.italic {
	color: #a9c59e;
	font-style: italic;
}
markup.strikethrough {
	color: #7896c3;
}
markup.list.item {
	color: #f6e4b7;
}
markup.code {
	background-color: rgba(128, 128, 128, 0.2);
}
markup.link {
	color: #d4d4d4;
}

/* Types */

definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name {
}

/* Members */

definition.property.name {
}
definition.function.name,
definition.method.name {
}

/* Tags */

tag {
	color: #7f7f7f;
}
tag.name {
	color: #7f7f7f;
}
tag.framework {
	color: #7f7f7f;
}
tag.framework.name {
	color: #d4d4d4;
}
tag.attribute.name {
	color: #d4d4d4;
}
tag.framework.attribute.name {
	color: #d4d4d4;
}
tag.attribute.value {
	color: #a9c59e;
}
tag.attribute.value.delimiter {
	color: #a9c59e;
}
tag.attribute.operator {
	color: #82afb1;
}
tag.attribute.value.link {
	color: #a9c59e;
}

/* Styles */

style.at {
	color: #7f7f7f;
	font-weight: bold;
}
style.selector.element {
	color: #d4d4d4;
	font-weight: bold;
}
style.selector.identifier.id {
	color: #d4d4d4;
}
style.selector.identifier.class {
	color: #d4d4d4;
}
style.selector.pseudoclass {
	color: #d4d4d4;
}
style.selector.pseudoelement {
	color: #d4d4d4;
}
style.attribute.name {
	color: #d4d4d4;
}
style.value.number {
	color: #81b0b2;
}
style.value.color.hex {
	color: #81b0b2;
}
style.value.keyword {
	color: #a9c59d;
}
style.value.color.named {
	color: #81b0b2;
}
style.value.identifier.function {
	color: #a9c59d;
}

/* Terminal */

terminal.black {
	color: hsl(60, 0%, 44%);
}

terminal.bright-black {
	color: hsl(60, 0%, 44%);
}

terminal.red {
	color: #d06163;
}

terminal.bright-red {
	color: #d06163;
}

terminal.green {
	color: #a2c699;
}

terminal.bright-green {
	color: #a2c699;
}

terminal.yellow {
	color: #fae3b2;
}

terminal.bright-yellow {
	color: #fae3b2;
}

terminal.blue {
	color: #6f97c7;
}

terminal.bright-blue {
	color: #6f97c7;
}

terminal.magenta {
	color: #be96c2;
}

terminal.bright-magenta {
	color: #be96c2;
}

terminal.cyan {
	color: #74b1b2;
}

terminal.bright-cyan {
	color: #74b1b2;
}
